<div class="main-wrapper">
  <div class="glass-card">
    

    <h2>¡DON´T STOP THE PARTY!</h2>

    <div class="lyrics-container">
      <p class="lyrics-line">
       Ahí me colé <strong>y en tu bar me planté</strong>. 💚
      </p>
      
      <p>
        Carlos Baute te podrá mandar mensajes de su puño y letra, Nosotros te acabamos de <em>mandar un correo para que confirmes tu cuenta.</em> 
      </p>

      <div class="info-box">
        <p><strong>"Quéeeeedate"</strong>... revisando tu bandeja de entrada.</p>
      </div>
    </div>

    <div class="footer-msg">
      <p>Ya puedes cerrar esta pestaña.</p>
    </div>
  </div>
</div>